{% extends 'layout/_base.html' %}
{% load static %}
{% block head_css_page %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/email_inbox.css' %}">

{% endblock head_css_page %}
{% block head_javasciprt_page %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock head_javasciprt_page %}
{% block title %}Sentbox{% endblock title %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}

{# Hero Section #}

{# Main Section #}
{% block mail_box_body %}
<aside class="lg-side">
                        <div class="inbox-head">
                            <h3>Sentbox</h3>
                        </div>
                        <div class="inbox-body">
                            <div class="mail-option">
                                <form>
                                    <input type="text" placeholder="Search email" name="searchText" id="searchField" style="color: #DC143C">
                                </form>
                                <br>
                                <div class="chk-all">
                                    <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                                    <div class="btn-group">
                                        <a class="btn mini all" href="#" data-toggle="dropdown" data-original-title=""
                                           title="">
                                            All
                                            <i class="fa fa-angle-down "></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"> None</a></li>
                                            <li><a href="#"> Read</a></li>
                                            <li><a href="#"> Unread</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a class="btn mini tooltips" href="#" data-toggle="dropdown" data-placement="top"
                                       data-original-title="Refresh">
                                        <i class=" fa fa-refresh"></i>
                                    </a>
                                </div>
                                <div class="btn-group hidden-phone">
                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-original-title=""
                                       title="">
                                        More
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                        <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a class="btn mini blue" href="#" data-toggle="dropdown" data-original-title=""
                                       title="">
                                        Move to
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                                        <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                                    </ul>
                                </div>
                                <ul class="unstyled inbox-pagination">
                                    <li><span>1-50 of 234</span></li>
                                    <li>
                                        <a href="#" class="np-btn"><i class="fa fa-angle-left  pagination-left"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" class="np-btn"><i
                                                class="fa fa-angle-right pagination-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <table class="table table-inbox table-hover">
                                <tbody class="list_div">
                                {% for object in object_list %}
                                <tr>
                                    <td class="inbox-small-cells">
                                        <input type="checkbox" class="mail-checkbox">
                                    </td>
                                    <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                                    <td class="view-message  dont-show"><a href="{%url 'detail_email' object.email.id%}">To: </a></td>
{#                                    {% if receiver.objects.get(email=object) %}#}
                                    <td class="view-message  dont-show"><a href="{%url 'detail_email' object.email.id%}">To: Many people</a></td>
{#                                    {%endif%}#}

                                    <td class="view-message "><a href="{%url 'detail_email' object.email.id%}">{{ object.email.subject }}</a></td>
                                    <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                    <td class="view-message  text-right"><a href="{%url 'detail_email' object.email.id%}">{{ object.email.created_date }}</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <div class="result">
                                    <p class="email_ajax_result"></p>
                                    <ol class="list_ajax">
                                    </ol>
                                </div>
                            </table>
                        </div>
                    </aside>
 {% endblock mail_box_body %}
{% endblock content %}
{% block footer_javascript_page %}
    <script src="{% static 'js/email_ajax.js' %}"></script>
{% endblock footer_javascript_page %}